.idForm {
  width: 100%;
  /* margin-top: 15px; */
}

.statusConnection {
  width: 100%;
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
}
.statusChild {
  flex: 1;
  align-self: center;
}
.statusConnectionTitle{
font-size: 12px;
font-weight: 600;
}
.statusConnectionText{
  font-size: 10px;
font-weight: 400;
}
.qrCodeDiv{
  margin-top: 15px;
}

.qrCodeTitle {
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
}

.qrCode{
  margin-top: 25px;
  filter: sepia(0%) hue-rotate(88deg) saturate(550%);
}

.qrContainer{
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 87px;
  margin: auto;
}